{% extends 'Base.html' %} {% block titulo %}{{ nome_usuario }} {% endblock %} {% block cabecalho %} {% load staticfiles%}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Análise Sensorial</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-apple"></span>
        Análise Sensorial<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/Home_Provador/"><span class="glyphicon glyphicon-th-list"></span> Análises Disponíveis</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
        {{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/GoEdit/" data-toggle="modal"><span class="glyphicon glyphicon-cog"></span>Editar Perfil</a></li>
                        <!-- <li><a href="/GoEdit/"><span class="glyphicon glyphicon-cog"></span>Editar Perfil</a></li> -->
                    </ul>
                </li>
                <li>
                    <a href="/Logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


{% endblock %} {% block conteudo %}{% endblock %}
