{% extends 'Provador/Base_logado_provador.html' %}

{% block conteudo %}
{% load bootstrap %}
<div class="col-md-10 col-md-offset-1">
		<!-- Deixar cada amostra em uma página-->
		<form class="form-horizontal" method="GET" action="/page_respostas/{{id}}">
		{% csrf_token %}
			<input type='hidden' value="True" name="controle"/>
			<label for="amostra">Amostra:</label>
			<input required class="form-control" id="amostra" name="amostra" type="text"></input>

			{% if hedonica %}
				{% for pergunta in hedonica%}
				<label for="{{pergunta.id}}">{{pergunta.pergunta}}</label>
				<select required class="form-control" name="{{pergunta.id}}" id="{{pergunta.id}}">
					<option value="1">Desgostei extremamente (detestei)</option>
					<option value="2">Desgostei muito</option>
					<option value="3">Desgostei moderadamente</option>
					<option value="4">Desgostei ligeiramente</option>
					<option value="5">Nem gostei / Nem desgostei</option>
					<option value="6">Gostei ligeiramente</option>
					<option value="7">Gostei moderadamente</option>
					<option value="8">Gostei muito</option>
					<option value="9">Gostei muitíssimo (adorei)</option>
				</select>
				{% endfor %}
			{% endif %}

			{% if boolean %}
				{% for pergunta in boolean %}
				<label for={{pergunta.id}}>{{pergunta.pergunta}}</label>
				<div class="radio">
				 <label><input required type="radio" name="{{pergunta.id}}" value="True">Sim</label>
				</div>
				<div class="radio">
				 <label><input type="radio" required name="{{pergunta.id}}" value="False">Não</label>
				</div>
				{% endfor %}
			{% endif %}

			{% if descritiva %}
				{% for pergunta in descritiva %}
				<label for={{pergunta.id}}>{{pergunta.pergunta}}</label>
				<textarea class="form-control"
					name="{{pergunta.id}}"
					id="{{pergunta.id}}" rows="5"></textarea>
				{% endfor %}
			{% endif %}

			{% if intencao_compra %}
				{% for pergunta in intencao_compra%}
				<label for={{pergunta.id}}>{{pergunta.pergunta}}</label>
				<select required class="form-control" name="{{pergunta.id}}" id="{{pergunta.id}}">
					<option value="1">Certamente não compraria o produto</option>
					<option value="2">Possivelmente não compraria o produto</option>
					<option value="3">Talvez comprasse / Talvez não comprasse</option>
					<option value="4">Possivelmente compraria o produto</option>
					<option value="5">Certamente compraria o produto</option>
				</select>
				{% endfor %}
			{% endif%}

			<button type="submit" class="btn btn-success">Enviar</button>
		</form>

</div>
{% endblock %}

<!--{% for numero in amostras %}
		<form class="form-horizontal" method="POST" action="/salvarRespostas/{{id}}">
		{% csrf_token %}
			<button type="submit" class="btn btn-success">Enviar</button>
			<div class="col-md-12" style="border:1px solid;
			margin-top:10px;
			margin-bottom:10px;">
			{% for form in forms %}
				<div style="margin-top:10px;margin-bottom:10px;" class="col-md-12">
					<h4 class="col-md-10 col-md-offset-1">{{form.descricao}}</h4>
					{{ form.formulario|bootstrap_horizontal }}
					<hr>
				</div>
			{% endfor %}
			</div>
		</form>
		{% endfor %}-->
