{% extends 'Funcoes.html' %}

{% block pagina %}
{% load bootstrap %}

<h2 class="text-success">Editar dados da Analise</h2>

<!-- col-md-offset-1 col-md-10 bug ao tentar colocar o tamanho correto-->

<form class="form-horizontal" method="POST" action="/EditarAnalise/{{ analise.id }}">
	{% csrf_token %}

	<div class="row">
		<div class="col-md-12" style="margin-bottom:10px">
		{{form.nome|bootstrap_horizontal}}
		</div>
	</div>

	<div class="row">
	<div class="col-md-11 col-xs-12" style="float:right">
		<div class="col-lg-6 col-xs-6">
			{{form.data_Inicio|bootstrap_horizontal}}
		</div>
		<div class="col-lg-6 col-xs-6">
			{{form.time_Inicio|bootstrap_horizontal}}
		</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-11 col-xs-12" style="float:right">
		<div class="col-md-6 col-xs-6">
			{{form.data_Final|bootstrap_horizontal}}
		</div>
		<div class="col-md-6 col-xs-6">
			{{form.time_Final|bootstrap_horizontal}}
		</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		{{form.descricao|bootstrap_horizontal}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-3" style="float:right">
	     <button type="submit" class="btn btn-success btn-lg">Salvar</button>
	     <a href="javascript:window.history.go(-1)" class="btn btn-danger btn-lg">Cancelar</a>
	    </div>
	</div>
</form>
{% endblock %}
