{% extends 'Base_logado.html' %} {% block conteudo %}
{% load bootstrap %} {% load staticfiles %}

<script type="text/javascript">
	function abrirModal(){
		$("#editar").modal('show').find("form")[0].reset();
	}


</script>

<script type="text/javascript">
	function fecharModal() {
		$("#editar").modal('hide').find("form")[0].reset();
	}
</script>
<div
	class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0">
	<h1>Suas Análises:</h1>
</div>
<div
	class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0">
	{% if analises %}

	<table class="table table-bordered">
		<thead>
			<tr>

				<th>Título</th>
				<th>Início</th>
				<th>Fim</th>
				<th>Ações</th>

			</tr>
		</thead>
		<tbody>
			{% for a in analises %}
			<tr>
				<td>{{a.nome}}</td>
				<td>{{a.data_Inicio}}</td>
				<td>{{a.data_Final}}</td>

				<td>
					<a href="/EditarAnalise/{{ a.id }}"
					class="btn btn-success btn-sm">Editar</a>
					<!-- Recebe o layout do modal fade de editar-->

				  	<a href="/GerarPdf/{{a.id}}" class="btn btn-primary btn-sm">PDF</a>
				  	<a href="/Perguntas/{{a.id}}" class="btn btn-warning btn-sm">Perguntas</a>
					<!--
					<div class="btn-group">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Gráficos<span class="caret"></span></button>
  						<ul class="dropdown-menu">
    						<li><a href="/paginaGraficosIntencaoCompra/{{a.id}}">Intenção Compra</a></li>
    						<li><a href="/paginaGraficosBooleanos/{{a.id}}">Sim ou Não</a></li>
    						<li><a href="/paginaGraficosHedonica/{{a.id}}">Hedônico</a></li>
    						<!--Ainda não em uso <li><a href="/paginaGraficosIdade/{{a.id}}">Idade</a></li>  -->
  						</ul>
                	</div>
					<!-- <div class="dropdown">

					</div>
<a href="/graficos/{{a.id}}">Graficos</a> -->
					 <!--<a href="/excel/{{a.id}}" class="btn btn-default btn-sm">Excel</a>


					<a href="/Relatorio/{{a.id}}" class="btn btn-info btn-sm">Relatório</a>-->
					<a href="/DeletarAnalise/{{ a.id }}" class="btn btn-danger btn-sm">Deletar</a>

				</td>

			<!--	<td>Sua análise está ativada, você não pode fazer alterações nela </td> -->

			</tr>
			{% endfor %}




		</tbody>
	</table>

	<ul class="pager">

        {% if analises.has_previous %}
            <li><a href="?pagina={{ analises.previous_page_number }}">Anterior</a></li>
        {% endif %}

        <span class="current">
            Página {{ analises.number }} de {{ analises.paginator.num_pages }}.
        </span>

        {% if analises.has_next %}
            <li><a href="?pagina={{ analises.next_page_number }}">Próximo</a></li>
        {% endif %}
    </ul>
</div>
	{% else %}
	<h2>Nenhuma análise encontrada</h2>
	{% endif %}



</div>


{% endblock %}
