{% extends 'Base_logado.html' %}

{% block conteudo %}
{% load bootstrap %}
{% load staticfiles %}
	<div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0">
	<h1>Suas Análises:</h1>
	</div>
    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 col-xs-offset-0">
<!--
     	<div class="row">
     		<h3>Análise Sensorial número {{ a.id | safe}}</h3>
     		<h3 style="color:gray">Título:<span style="color:black"> {{a.Nome|safe}}</span></h3>
     	</div>
     	<div class="row">
     		<h3 style="color:gray">Descrição:<span style="color:black">  {{a.Descricao|safe}}</span></h3>
     	</div>
     	<div class="row">
     		<h3 style="color:gray">Descrição:<span style="color:black">  {{a.Data_Inicio|safe}}</span></h3>
     	</div>
     	<div class="row">
     		<h3 style="color:gray">Descrição:<span style="color:black">  {{a.Data_Final|safe}}</span></h3>
     	</div-->
        {% if analise %}

     	<table class= "table table-bordered"> 
          <thead>
          <tr>
        
        <th>Título</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Ações</th>
        
         </tr>
         </thead> 
         <tbody>
         {% for a in analise %} 
             <tr>
                 <td>{{a.nome}}</td>
                 <td>{{a.data_Inicio}}</td>
                 <td>{{a.data_Final}}</td>
                 <td><a href="/EditarAnalise/{{ a.id }}" class="btn btn-success btn-xs">Editar</a>
                 <a href="/NumerosAnalise/{{a.id}}/numeros/" class="btn btn-primary btn-xs">Números</a>
                 <a href="/Perguntas/{{a.id}}" class="btn btn-warning btn-xs">Perguntas</a>
                 <a href="/DeletarAnalise/{{ a.id }}" class="btn btn-danger btn-xs">Deletar</a>
                 </td>
                </form>
             </tr>
        {% endfor %}
         </tbody>
        </table>
        {% else %}
        <h2>Nenhuma análise encontrada</h2>
        {% endif %}
     	
    </div>

{% endblock %}