<!-- Comentário -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block titulo %}{% endblock %}</title>


  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/validator.min.js' %}"></script>
  <script src="{% static 'js-picker/bootstrap-datepicker.js'%}"></script>
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/estilo.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/freelancer.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'estilo_personalizado.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'css-picker/bootstrap-datepicker.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'css/bootstrap-clockpicker.min.css' %}" rel="stylesheet" type="text/css" >
  <script src="{% static 'js/bootstrap-clockpicker.min.js' %}"></script>

  {% block estilo %}{% endblock %}
{% block cabecalho %}
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Inicio/">Análise Sensorial</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/Cadastro_principal_page"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
        --><li class="dropdown">
         <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"> Cadastre-se <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a href="/Provador/"><span class="glyphicon glyphicon-user"></span>  Provador</a></li>
           <li><a href="/Fabricante/"><span class="glyphicon glyphicon-briefcase"></span>  Fabricante</a></li>
         </ul>
       </li>
        <li><a href="#login" data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      </ul>
    </div>
  </div>
</nav>

{% load bootstrap %}
<div class="modal fade" id="login">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Entrar</h3>
      </div>
      <form class="form-horizontal" method = "POST" action="/Login/">
      <div class="modal-body">
          {% csrf_token %}
          {{form_login|bootstrap_horizontal}}
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-success">Submit</button>
      <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
<div class="col-md-12 col-md-offset-0">
  {% block links %}{% endblock %}
</div>
{% block conteudo %}{% endblock %}
{% block rodape %}
  <footer class="footer">
      <div class="container">
        <div class="footer-text">&copy; Todos os direitos reservados - Desenvolvido por João Pedro Limão & Ítalo Epifânio</div>
      </div>
  </footer>
{% endblock %}

</body>
</html>
