<!DOCTYPE html>
<html lang="en">
<head>
  <title>Página inicial</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% load staticfiles %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'estilo_personalizado.css' %}" type="text/css" rel="stylesheet">
  {% block estilo %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Análise Sensorial</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/Cadastro_principal_page"><span class="glyphicon glyphicon-user"></span> Cadastre-se</a></li>
        <li><a href="/"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block conteudo %}{% endblock %}
</body>
</html>
