{% extends 'Base_logado.html' %}

{% block conteudo %}
{% load bootstrap %}
<h2 class="text-success">Editar dados do Fabricante</h2>
<!-- col-md-offset-1 col-md-10 -->
<form class="form-horizontal " method="POST" action="/GoEdit/">
	{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<div class="form-group">
	    <div class="col-sm-offset-10 col-sm-2 col-md-offset-10  col-md-2">
	      <button type="submit" class="btn btn-success btn-lg btn-block">Editar</button>
	    </div>
  	</div>
</form>
{% endblock %}