{% extends 'Funcoes.html' %}
{% block pagina %}
{% load bootstrap %}
<h2 class="text-success">Editar dados</h2>
<!-- col-md-offset-1 col-md-10 bug ao tentar colocar o tamanho correto-->
<form class="form-horizontal" method="POST" action="/GoEdit/">
	{% csrf_token %}
	{{ form|bootstrap_horizontal }}
	<div class="form-group">
	    <div class="col-sm-offset-8 col-sm-4 col-md-offset-8  col-md-4">
	      <button type="submit" class="btn btn-success btn-lg">Editar</button>
				<a href="javascript:window.history.go(-1)" class="btn btn-danger btn-lg">Cancelar</a>
	    </div>
  	</div>
</form>
{% endblock %}
