{% extends 'Base.html' %}

{% block titulo %} Login {% endblock%}

{% block estilo %}
{% load staticfiles %}
 <link href="{% static 'css/estilo.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block conteudo %}
{% if confirmacao %}
<div class="mensagem">Usuário cadastrado com sucesso</div>
{% endif %}

{% if erro %}
<div class="mensagem_erro">Senha ou usuário incorretos/Usuário não cadastrado</div>
{% endif %}
{% load bootstrap %}


 <div class="container col-md-offset-3 col-md-6">
    <h2 class="text-success">Entrar</h2><br>
    <form class="form-horizontal" method = "POST" action="/Login/">
        {% csrf_token %}
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-lg btn-block">Entrar</button>
        </div>
        </div>
    </form>
</div> 

<!--<div class="modal fade" id="login">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Entrar</h3>
      </div>
      <form class="form-horizontal" method = "POST" action="/Login/">
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
             <button type="submit" class="btn btn-success btn-lg btn-block">Entrar</button>
      </div>

    </div>
  </div>
</div>-->

<!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}